<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/blog.css">
    <title>New blog</title>
</head>
<body>
    <div class="header">
        <nav>
            <h1>Contact us</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate ullam temporibus maxime similique molestias nemo aliquam consequatur, voluptatem itaque perferendis.</p>
        </nav>
        <hr>
    </div>
    <div class="body">
    <form action="/" method="POST">
        <label for="title">Title</label>
        <br>
        <br>
        <input type="text" id="title" name="title" placeholder="Enter the title of your blog">
        <br>
        <br>
        <label for="your message">Text</label>
        <br>
        <br>
        <textarea name="text" id="text"></textarea> <br> <br>
        <label for="imgsrc">imgsrc</label>
        <br>
        <br>
        <input type="text" id="imgsrc" name="imgsrc" placeholder="imgsrc" value="views/blog1.jpg">
        <br>
        <br>
        <label for="fname">imgalt</label>
        <br>
        <br>
        <input type="text" id="imgalt" name="imgalt" placeholder="imgalt" value="blog1">
        
        <br><br>
        <button> Post blog </button>
    </form>
    
    </div>
</body>
</html>