<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/blog.css">
    <title>New blog</title>
</head>
<body>
    <div class="header">
        <nav>
            <h1>Contact us</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate ullam temporibus maxime similique molestias nemo aliquam consequatur, voluptatem itaque perferendis.</p>
        </nav>
        <hr>
    </div>
    <div class="body">
    <form >
        <label for="fname">NAME:</label>
        <br>
        <br>
        <input type="text" id="fname" name="fname" placeholder="first name">
        <input type="text" id="lname" name="lname" placeholder="last name">
        <br>
        <br>
        <label for="EMAIL">E-MAIL:</label>
        <br>
        <br>
        <input type="text" id="email" placeholder="enter your email">
        <br>
        <br>
        <label for="PHONE">PHONE:</label>
        <br>
        <br>
        <input type="text" id="phone" placeholder="###### #####">
        <br>
        <br>
        <label for="your message">YOUR MESSAGE:</label>
        <br>
        <br>
        <textarea name="message" id="message"></textarea>
    </form>
    <button><a href=""> SIGN UP</a></button>
    </div>
</body>
</html>